body {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-items: center;
}

h1 {
    text-align: center;
}

.thumbnailCarousel {
    width: 960px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

#bigPicture {
    height: 540px;
    width: 960px;
    background-color: red;
    border-radius: 16px;
    transition: background-color 0.3s;
}

#smallPictures {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

input {
    width: 100%;
    height: 90px;
    margin: 0;
    appearance: none;
    border-radius: 10px;
    transition: opacity 0.3s;
}
input:hover {
    opacity: 0.8;
}
input:active {
    opacity: 0.6;
}
input:checked {
    border: 2px solid black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#pink {
    background-color: pink;
}

#purple {
    background-color: purple;
}

.imageSlider {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 10px;
    width: 1200px;
    height: 600px;
}

.displayedPicture {
    background-color: red;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button {
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
}