body {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-items: center;
}

h1 {
    text-align: center;
}

.thumbnailCarousel {
    width: 960px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

#bigPicture {
    height: 540px;
    width: 960px;
    background-image: url('images/image1.webp');
    background-size: cover;
    border-radius: 16px;
    transition: background-image 0.3s;
}

#smallPictures {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

input {
    width: 100%;
    height: 90px;
    margin: 0;
    appearance: none;
    border-radius: 10px;
    transition: opacity 0.3s;
    background-size: cover;
}
input:hover {
    opacity: 0.8;
    cursor: pointer;
}
input:active {
    opacity: 0.6;
}
input:checked {
    border: 2px solid black;
}

#image1 {
    background-image: url("images/image1.webp");
}

#image2 {
    background-image: url("images/image2.webp");
}

#image3 {
    background-image: url("images/image3.webp");
}

#image4 {
    background-image: url("images/image4.webp");
}

#image5 {
    background-image: url("images/image5.webp");
}

#image6 {
    background-image: url("images/image6.webp");
}

.imageSlider {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 10px;
    width: 1200px;
    height: 600px;
}

.displayedPicture {
    background-image: url("images/image1.webp");
    background-size: cover;
    border-radius: 10px;
    transition: background-image 0.3s;
}

button {
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s, stroke 0.3s;
}

button:not(:disabled):hover .arrow{
    opacity: 0.8;
}
button:not(:disabled):active .arrow {
    opacity: 0.6;
}
button:disabled .arrow {
    stroke: grey;
}

.arrow {
    fill: none;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
}
